body{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, 'sans-serif';
}

.header{
	background-color: #283593;
	color:#fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 45px;
	flex-wrap: wrap;
}

.nav a{
	color: #fff;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease-out;
}

.nav a:hover{
	color: #c5c8e9;
	transform: rotate(6deg);
}

.nav{
	list-style: none;
	margin:0;
	padding: 0;
	display: flex;

}


.nav li{
	margin-left: 20px;
}


/*New Rule*/
.hero{
	background-color: #c5c8e9;
	padding: 60px 45px;
	display: flex;
	justify-content: center;
}


.hero-inner{
	max-width: :760px;
}


.hero h1{
	font-size: 3rem;
	margin:0;
	text-align: center;
}

.hero p{
	font-size: 1.18rem;
	line-height: 1.6
}


.button{
	background-color: #3949ab;
	color:#fff;
	text-decoration: none;
	padding:12px 20px;
	border-radius: 8px;
	font-size:1.18rem;
	display: inline-block;
}


.hero .centre{
	text-align: center;
}

.features{
	background-color: #e8eaf6;
	padding: 60px 45px;
}

.features-inner{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	grid-column-gap: 45px;
	grid-row-gap: 45px;
}

.featured-item h3{
	color: #283593;
	font-style: 1.5rem;
	font-weight: normal;
	margin: 0;
}


.featured-item p{
	margin: 0;
	line-height: 1.6;
	color:#333;
}

.footer{
	text-align: center;
	padding: 20px 0;
	color:#999;
	font-size: .9rem;
}











